html, body {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #F5F5F5;
	margin: 20px;
	color: #333;
}

h1 {
	font-size: 28px;
	margin: 12px 0;
}

h2 {
	font-size: 14px;
	font-style : italic;
}

#output {
	font-family: Courier, "Courier New", monospace;
	border: 1px solid #CCC;
	background-color: #FFF;

	font-size: 16px;
	margin: 28px 0;
	padding: 8px;
}